# Directories
.idea
.vscode
.vscodecounter
SPI2Py.egg-info
reports


# Subdirectories
venv/*
dist/*
build/*


# Files
**/.openmdao_out
**/cases.sql
**/.DS_Store
**/output.log
**/output.json
**/.pytest_cache
**/__pycache__
**/geometric_optimization.gif
**/logger.log
**/report.json

# Filetypes
.gif

